# Insurance Coverage 2010 - 2014

In [61]:
import pandas as pd
import matplotlib.pyplot as plt
from params import states_list, years_list

df = pd.read_csv('Resources/insurance_coverage_2010-2014.csv')

## Insured Dataframe

In [62]:
insured = df[df['Coverage'] == 'Any coverage']
insured = insured.drop(['Coverage'], axis =1)
insured = insured.set_index('State')
insured.head()

              2014      2013      2012      2011      2010
State
ARIZONA    5720000   5403000   5313000   5283000   5245000
FLORIDA   16338000  15392000  15195000  14841000  14593000
ILLINOIS  11464000  11086000  11076000  11029000  10928000
IOWA       2874000   2798000   2775000   2748000   2725000
KENTUCKY   3962000   3696000   3697000   3666000   3596000

## Uninsured Dataframe

In [63]:
uninsured = df[df['Coverage'] == 'Uninsured']
uninsured = uninsured.drop(['Coverage'], axis = 1)
uninsured = uninsured.set_index('State')
uninsured.head()

             2014     2013     2012     2011     2010
State
ARIZONA    903000  1118000  1131000  1095000  1065000
FLORIDA   3245000  3853000  3816000  3911000  3941000
ILLINOIS  1238000  1618000  1622000  1659000  1746000
IOWA       189000   248000   254000   269000   280000
KENTUCKY   366000   616000   595000   618000   647000

## Total Population Dataframe

In [64]:
total_pop = insured + uninsured
total_pop.head()

              2014      2013      2012      2011      2010
State
ARIZONA    6623000   6521000   6444000   6378000   6310000
FLORIDA   19583000  19245000  19011000  18752000  18534000
ILLINOIS  12702000  12704000  12698000  12688000  12674000
IOWA       3063000   3046000   3029000   3017000   3005000
KENTUCKY   4328000   4312000   4292000   4284000   4243000

## Percent Insured

In [65]:
percent_insured = insured / total_pop
percent_insured.head()

              2014      2013      2012      2011      2010
State
ARIZONA   0.863657  0.828554  0.824488  0.828316  0.831220
FLORIDA   0.834295  0.799792  0.799274  0.791436  0.787364
ILLINOIS  0.902535  0.872639  0.872263  0.869247  0.862238
IOWA      0.938296  0.918582  0.916144  0.910839  0.906822
KENTUCKY  0.915434  0.857143  0.861370  0.855742  0.847514

## Percent Uninsured

In [66]:
percent_uninsured = uninsured / total_pop
percent_uninsured.head()

              2014      2013      2012      2011      2010
State
ARIZONA   0.136343  0.171446  0.175512  0.171684  0.168780
FLORIDA   0.165705  0.200208  0.200726  0.208564  0.212636
ILLINOIS  0.097465  0.127361  0.127737  0.130753  0.137762
IOWA      0.061704  0.081418  0.083856  0.089161  0.093178
KENTUCKY  0.084566  0.142857  0.138630  0.144258  0.152486